.dashboard{
    min-height:100%;
    background-color: #4f4d4d24; 
    .content{
        margin: 0 30px;
        margin-top: 2rem;
    }
    .site-statistic-demo-card{
        padding: 30px
    }
   
}